<style>
    #el {
        width: 100px;
        height: 100px;
        background-color: skyblue;
    }
</style>
<div id="el"></div>
<button onclick="start();">start</button>
<button onclick="stop();">stop</button>
<script>
    let el = document.getElementById("el")
    el.style.transition = "ease 5s";
    function start() {
        el.style.transform = "translate(300px, 300px)";
    }
    function stop() {
        console.log(getComputedStyle(e1).transform);
        el.style.transition = "none";
    }
</script>